*{margin: 0;box-sizing: border-box;padding: 0;font-family: "Roboto", sans-serif;}


body{height: 100vh;}
.flex{display: flex;}
.interface{max-width: 1280px;margin: 0 auto;}

/*BANNER*/

.banner{}
.banner .banner-img{}

/*FIM HOME PAGE */


/* HOME PAGE */
/*HEADER*/
.home{height: 100vh; width: 100%;background-image: url(banner.jpg);}
.cabecalho{padding: 40px 4%;display: flex;justify-content: space-between;align-items: center;}
.logo{}
.logo a{text-decoration: none;font-size: 36px;color: #1C7ED6;}
.menu-desktop{}
.menu-desktop ul{}
.menu-desktop ul li{list-style: none;display: inline-block;}
.menu-desktop ul li a{text-decoration: none;margin: 24px;color: white;display: inline-block;}
.menu-desktop ul li a:hover{color: #1C7ED6;transform: scale(1.1);transition: .2s;}
.btn-contato{}
.btn-contato a{}
.btn-contato a button{padding: 10px 38px;border: none;color: white;background-color: #1C7ED6;cursor: pointer;font-size: 12px;transition: 0.2s;border-radius: 10px;}
.btn-contato a button:hover{border: 1px solid black;color: black;background-color: white;}
/*FIM HEADER*/
/*FIM HOME PAGE */






